body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 2;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://i.pinimg.com/originals/fc/e9/7e/fce97eba95fd3de922940e31f8ab8982.gif') center center/cover;
    filter: brightness(0.2);
    backdrop-filter: blur(8px);
    z-index: -1;
}

.calculator-container {
    text-align: center;
    padding: 40px;
    color: #ffffff;
}

h1 {
    margin-top: 0;
}

label {
    display: block;
    margin-top: 20px;
    color: #fff;
}

#numberInput {
    width: 60%;
    padding: 10px;
    text-align: right;
    margin-top: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #555;
}

.results-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.result-item {
    flex: 1;
    margin: 0 10px;
}

.result-value {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    color: #fff;
}

#goToMainPageButton {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#goToMainPageButton:hover {
    background-color: #555;
}
